.stops.index{
    #search{  
        #advanced_search{
            margin-top: 10px;

            input{ margin-left: 20px;}

            .panel-body{
               div { margin-bottom : 10px}
               span { vertical-align: super;}
              
            }
        }
        
    }
}
